@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-display;
}

.film-grain {
  position: relative;
}

.film-grain::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuB3ue24F6q9mKsxQeZCqSLr-e1cTOnf9SrtMxPMu-iISGpxjMtimpWhZLjD25t-u-HgCWKR3Jf3LQntZ5ACqJJsHscpu41fInM4hePcAW3IM4fargkJ80upnl-sxo01MmKv0hmP7qFvqBe-W3VqiOdrX4cD66rzVNL5BazxFRWuFOcxoCXcOW08my4y2Ag9nmODvvuSs4KE7adjlXJgE-FolzNqJPZJEXU81vkJPH5_xiYvTd8eVgQghB8N0dkt6El2WJQQFcbkwqhY);
  opacity: 0.05;
  pointer-events: none;
}

.text-glow {
  text-shadow: 0 0 15px rgba(191, 58, 43, 0.4);
}
